<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
        <i class="fa fa-bars"></i>
      </button>
        <a class="navbar-brand" routerLink="/" >Galeria de Moldes</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
          <li><a routerLink="/detail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>