/* You can add global styles to this file, and also import other style files */
/*Colors*/
@green-tuberose: #E9F7EB;
@green-botany: #D8ECC3;
@green-spring: #B2D6B2;
@green-medium: #47741A;
@green-dark: #1C4905;

/*Text colors*/
@text: #333;